<br/> <br /> <br/> <br />
<div class="jumbotron text-center container">
  <h1>Hi, My Name Is Kendall Wahnschaffe</h1>
  <p style="font-size:16px"> and I like to code.</p>
  
  <img src="{{person.images[index]}}" style="height:750px;width:100%">
  
  <div ng-repeat="image in person.images"> <a href ng-click="changeIndex($index)"> <!--index of loop--> 
  <img class="text-center img-thumbnail" style="height:100px;width:100px;float:left" ng-src="{{image}}" alt="Photos of the phone" /></a>
  </div>
  
</div>
